.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    .box{
        width: 250px;
        height: 200px;
        font-size: 40px;
        border: 2px solid red;
      
    }
    